@model TodoViewModel

<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.TodoList)
        {
            <tr>
                <th class="todos-column" scope="row">@t.Id</th>
                <td class="todos-column">@t.Name</td>
                <td class="buttons-column">
                    <input type="submit" class="btn btn-danger" value="Delete" onClick="deleteTodo(@t.Id)" />
                </td>
            </tr>
        }
    </tbody>
</table>